body {
    margin: 0; 
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0px 166px;
}

.header {
    background-image: url(bg3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;

    transition: color 0.3s linear;
}
.nav-item:hover {
    color:crimson;

}
.cart {
    position: relative;

    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}
.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;

}



.num {
    color:#fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}
.num:hover {
    color:crimson;
}
.phone-text{
    font-size: 14px;
    font-weight: 400;
    color:#fff;
}
.phone-holder {
    display: flex;
    align-items: center;
}


.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;

    transition: background-color 0.2s linear;
}
.button:hover {
    background-color:#8b440a;
}
.header-down {
    position: relative;
}

.header-title {
    color:#FF7400;
    font-family: 'Tinos', serif;
    font-size: 50px ;
    font-weight: 400;

    text-align: center;
    

    margin-top: 222px;
}

.header-suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.header-button {
    background-color: #FF7400;
    padding: 14px 28px ;
    color: #fff;
    font-size:14px ;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

    transition: background-color 0.2s linear;

}


.header-button:hover {
    background-color: #8b440a;
}

.cards-holder {
    display: flex;
    justify-content: center;
    
}

.card {
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -85px ;
    padding: 10px 10px;

}

.card-image {
    text-align: center;
    padding-top: 31px;
}

.card-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}

.card-title span{
    color:#FF7400
}

.card-desc {
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 20px;
    font-weight: 400;
    color: #656363;
}

.history {
    margin-top: 166px ;
}

.history-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;

}

.history-title span{
    color:#BC9060;
}

.history-desc {
    color: #656363;
    width: 444px;
    text-align: center;
}

.history-number {
    display:flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;

}

.number-item { 
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color:#BC9060 ;
}

.number-item span {
    display:block;
    color: #000;

}

.history-images {
    position: relative;

}
.history-holder {
    display: flex;
    justify-content:space-between ;
}

.imgages-11 {
    position: absolute;
    z-index: 0;
    top: 54px;
    right: 300px;
}

.imgages-2 {
    position: absolute;
    z-index: 0;
    top: -92px;
    right: 80px;
}

.imgages-3 {
    position: absolute;
    z-index: 0;
    top: 100px;
    right: 150px;
}

.menu-title {
    font-family: 'Tinos', serif;
    font-size:54px;
    font-weight: 400;
    text-align: center;
    padding-top: 132px ;
    margin-bottom: 20px;

}

.menu-title span {
    color:#BC9060;
}



.khinkal-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.khinkali-image {
    margin-right: 20px;
    
}

.khinkal-text {
    font-family: 'Tinos', serif;
    font-size:26px;
   margin-left: 29px;
    
}


.comment {
    background-color: #e1dfdffe;
    padding-top: 80px;
    padding-bottom: 139px;
}


.comment-text {
    font-family: 'Tinos', serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.comment-img {
    border-radius: 50px; 
}

.comment-image {
    padding-top: 25px;
    text-align: center;

}

.comment-type {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.comment-name {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}


.povar-title {
   
    font-family: 'Tinos', serif;
    font-size: 54px;
    text-align: center;
    margin-bottom:35px;
    margin-top: 100px;
    

}

.povar-title span {
    color: #BC9060;
}

.povar-content {
    display: flex;
    justify-content: space-around;
} 




.map-title {
   
    font-family: 'Tinos', serif;
    font-size: 54px;
    text-align: center;
    margin-bottom:35px;
    margin-top: 100px;
    

}

.map-title span {
    color: #BC9060;
}

.map-content {
    display: flex;
    justify-content: space-around;
} 

.map {
    padding-bottom: 100px;
}

.footer {
   background-color: #000; 
   padding: 50px 0px;
   color: #fff;
   text-align: center;
}